PORT=5000
MONGO_URI=mongodb://mongo:27017/snapurl
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
MACHINE_ID=1
BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000