PORT=5000
MONGO_URI=your_mongodb_connection_string
REDIS_URL=rediss://default:your_password@your_host.upstash.io:6379
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRY=7d
JWT_REFRESH_EXPIRY=7d
MACHINE_ID=1
BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000
